{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}DETAILS{% endblock %}</h1>
  <!{% if g.user %}>
    <!<a class="action" href="{{ url_for('mang.create') }}"><! ADD</a>
  <!{% endif %}>
{% endblock %}

{% block content %}
  
    <article class="post">
      <header>
        <div>
        
          <h1>{{ title }}</h1>
          <div class="about">NEWS is added by {{ username }} </div>
        
          <td class="about"> {{ created.strftime('%d-%m-%Y') }}</td>
        </div>
        
      </header>
      <p class="body">{{body}}</p>
      {% for t in tags %}
   <a class="about" href="{{url_for('mang.search',field='tag', value=t)}}"> <span class="about">{{t}}</span></a>
  {% endfor %}
  <p>
  <a class="about" href="{{url_for('mang.edit', pid=id)}}">Edit</a>
  <a class="about" href="{{url_for('mang.add_hashtag',pid=id)}}">ADD #tag or comment</a>
  </p>
  
    </article>
    
      <hr>
 
{% endblock %}
